@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@media (prefers-color-scheme: light) {
    :root {
        --color-text: #213547;
        --color-bg: #ffffff;

        .color-bg {
            background-color: var(--color-bg);
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #ffffff;
        --color-bg: #121212;


        .color-bg {
            background-color: var(--color-bg);
        }
    }
}